ion-content {
  --overflow: hidden;
  --background: #1b446e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.taptostart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  h1 {
    color: white;
    font-size: 50px;
  }
}

.decision {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #1b2433;
}

.direction {
  position: absolute;
  font-size: 90px;
  bottom: 10px;
  font-weight: 800;
  color: #a9bfc5;
}

.left {
  transform: rotate(180deg);
}

/* Fade-In Effect */
.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s linear;
}
/* Fade-Out Effect */
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.3s, opacity 0.3s linear;
}


